{% extends 'base.html' %}
{% block content %}
    <h2>{{ page_title }}</h2>
    <p>
        St. John’s School instills in its students intellectual enthusiasm, leadership, and an appreciation of discovery. 
        We encourage students to focus on achievement with a willingness to explore varied paths to reach their goals. 
        Because the SJS community revels in scholarly, athletic, and artistic adventure, day-to-day life at St.
         John’s is filled with the joy of learning and doing, both for students and for faculty.
    </p>
    <p>
        W. St. John Garwood and Alan Lake Chidsey's dreams of creating a "school of exacting standards" in Houston became a reality at the end of World War II. 
        In January 1946, Alan Lake Chidsey, former Headmaster of the Arizona Desert School and the post-war Assistant Dean of Students at University of Chicago
         was asked to fly to Texas to speak at a gathering of interested members of the Houston community.
        Frontrunners of the idea, Mr. and Mrs. W. St. John Garwood, Sr., Mr. and Mrs. Merrick Phelps, Mr. R. E. Smith, Mr. J. O. Winston, 
        Jr., and the Reverend Thomas Sumners of the Church of St. John the Divine were among those present at the meeting. 
        Chidsey excitedly convinced those present that the cause was worthy and its rewards could be great. Mrs. William S. 
        Farish immediately committed to her involvement with the School, and many others followed.
        A proposal was drafted that entailed combining forces with St. John the Divine's nursery school to create a school of academic excellence, 
        dedication to the cultivation of leadership, commitment to the teaching of moral and spiritual values, 
        and availability of this high caliber education to people of all different backgrounds, 
        regardless of economic circumstance. And so the School was born. St. John's first 344 students filed into St. John the Divine's Chapel on Opening Day, September 27, 1946.

    </p>
{% endblock %}