{% extends "base.html" %}
{% block content %}

<div class="home-container">
    <div class="hero-image">
        <div class="text-block-home center-align">
          <h1 class="uppercase primary-heading">St. John's</h1>
          <h2 class="home-paragpaph">
           High School
          </h2>
        </div>
    </div>
  </div>
<section>
  <ul class="collapsible">
    {% for assignment in assignments %}
    <li>
        <div class="collapsible-header white-text light-blue darken-4 text-shadow">
          <div class="col s3">
            <i class="fas fa-caret-down"></i>
            {% if session.user|lower == assignment.created_by|lower %}
              <a href="{{ url_for('delete_assignment',  assignment_id=assignment._id) }}" class="btn-small green accent-4">Delete</a> 
              <a href="{{ url_for('edit_assignment', assignment_id=assignment._id) }}" class="btn-small light-blue lighten-1">Edit</a>
            {% endif %}
        </div>
        <div class="col s9">
            <strong>{{ assignment.days_name }}</strong> 
        </div>
        </div>
        <div class="collapsible-body">
            <p><strong>Subject:</strong>{{ assignment.subject_name }}</p>
            <p><strong>Topic:</strong>{{ assignment.topic_name }}</p>
            <p><strong>Questions:</strong>{{ assignment.question }}</p>
            <p><strong>Due date:</strong>{{ assignment.due_date }}</p>
            <p>{{ assignment.mark }}</p>
            <p><em>by:  {{ assignment.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
